venv/
.venv/
.claude/

public/
**/public/
!public/
ocr/public/

originals/
paddle/
easy/

readme_fm.md
CONTEXT.md
readme_j.md

__pycache__/

output/*
!output/.gitkeep

hf_model/
Dolphin/
DotsOCR/

utils/
others/