venv/

public/
**/public/
!public/
docTR//public/

doc1.png
doc2.png
doc3.png
docN.png
docM.png

readme2.md
docN_resultado_P1.jpg
docN_resultado.jpg
pam_resultado.jpg
card_resultado.jpg
doc3_resultado.jpg
docM_resultado.jpg
visa1_resultado.jpg
visa2_resultado.jpg
pam.png
visa1.jpg
visa2.png
card.png
result.jpg